@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
    background: linear-gradient(to left top, #FFFFFF, #000000);
    background-attachment: fixed;
    font-family: Rajdhani;
    color: #ffd40c;
    margin: 0;
    height: 100%;

}

.headerGeneral {
	position: fixed;
	top: 120px;
	left: 20px;
	right: 100px;
	width: 100%;
	height: 100px;
	padding: 20px;
	font-weight: bold;
	color: #ffd40c;
}

.generalStats {
	/*padding: 50px;*/
	position: fixed;
	top: 200px;
	left: 50px;
	right: 1300px;
	border: 2px solid black;	
	color: #ffd40c;
	padding-left: 5px;
}

.headerRanked {
	position: fixed;
	top: 120px;
	left: 20px;
	right: 100px;
	width: 100%;
	height: 100px;
	padding: 20px;
	font-weight: bold;
	color: #ffd40c;
}

.rankedStats {
	position: fixed;
	top: 200px;
	left: 50px;
	right: 1300px;
	border: 2px solid black;	
	color: #ffd40c;
	padding-left: 5px;
}

.headerCasual {
	position: fixed;
	top: 120px;
	left: 20px;
	right: 100px;
	width: 100%;
	height: 100px;
	padding: 20px;
	font-weight: bold;
	color: #ffd40c;
}

.casualStats {
	position: fixed;
	top: 200px;
	left: 50px;
	right: 1300px;
	border: 2px solid black;	
	color: #ffd40c;
	padding-left: 5px;
}

.headerOther {
	top: 120px;
	left: 20px;
	right: 100px;
	width: 100%;
	height: 100px;
	padding: 20px;
	font-weight: bold;
	color: #ffd40c;
	position: fixed;
}

.otherStats {
	position: fixed;
	top: 200px;
	left: 50px;
	right: 1300px;
	border: 2px solid black;	
	color: #ffd40c;
	padding-left: 5px;
}

a {
	text-decoration: none;
	color: #ffd40c

}
a:visited {
	text-decoration: none;
	color: #ffd40c

}

.tabbuttons {
	margin-top: -8px;
}

/* Style tab links */
.tablink {
	background-color: #555;
	color: white;
  	float: left;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	padding: 14px 16px;
  	font-size: 17px;
  	width: 25%;
  	font-family: Rajdhani;
  	transition-duration: 0.4s;
}

.tablink:hover {
  	background-color: #777;
}

.tablink:active {
	background-color: #ffd40c;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color: white;
  	display: none;
  	padding: 100px 20px;
  	/*height: 100%;*/
}


/*
#General {background-color: red;}
#Ranked {background-color: green;}
#Casual {background-color: blue;}
#Extra {background-color: orange;}
*/